mixin frameset_block()
  div(
    style="-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; color: #212121; padding: 0 0.5em;"
  )
    block

mixin frameset_top()
  div(
    style="font-size: 1em; line-height: 1.6;"
  )
    block

mixin frameset_main()
  div(
    style="margin-top: 0.75em; border-left: 0.125em solid #212121; padding: 0 0.75em 0 0.625em; line-height: 1.6;"
  )
    block
