mixin title_block()
  table(
    style="border-spacing: 0;"
  )
    tbody
      tr(
        style="vertical-align: middle;"
      )
        block

mixin title_logo()
  td(
    style="padding: 0;"
  )
    block

mixin title_name()
  td(
    style="padding: 0 0 0 0.875em;"
  )
    block
