extends templates/html

include templates/mixins.pug

block title
  | Email Signature

block body
  .container
    #signature.showcase.shadow
      include templates/email.pug

    .actions
      +action('copy-inline')
        | Copy as inline html
      +action('copy-styled')
        | Copy as styled text
